In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('products.csv')

In [4]:
df.shape

(49688, 4)

In [ ]:
# {"_id":{"$oid":"65351e85b32d149ffbbe65fe"},"name":"Tomato","category":"vegetable","image":"default.jpg","price":"80","description":"default.description"}

In [9]:
#adding columns image with deafult.jpg and description with default.description
df['image']='default.jpg'
df['description']='description'
df['price']='50'

In [10]:
df.shape

(200, 7)

In [11]:
df=df.head(200)

In [12]:
df

,product_id,product_name,aisle_id,department_id,image,description,price
0,1,Chocolate Sandwich Cookies,61,19,default.jpg,description,50
1,2,All-Seasons Salt,104,13,default.jpg,description,50
2,3,Robust Golden Unsweetened Oolong Tea,94,7,default.jpg,description,50
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,default.jpg,description,50
4,5,Green Chile Anytime Sauce,5,13,default.jpg,description,50
...,...,...,...,...,...,...,...
195,196,Soda,77,7,default.jpg,description,50
196,197,Cold Brew Coffee Tahitian Vanilla,26,7,default.jpg,description,50
197,198,Tzatziki Cucumber Sauce,67,20,default.jpg,description,50
198,199,Herb Thyme Clamshell,16,4,default.jpg,description,50
199,200,Radiant Pantiliners Regular Wrapped Unscented,126,11,default.jpg,description,50

In [13]:
df.to_json('products.json',orient='records')

In [6]:
df.shape

(200, 4)

In [7]:
df.to_csv('products.csv',index=False)

In [8]:
df.to_json('products.json',orient='records')